body {
  background-image: url("https://live.staticflickr.com/4048/4452639598_b5e4093f61_b.jpg");
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  width: 900px;
}

.grid-container {
  display: grid;
  grid-template-columns: 40% 40% auto;
  gap: 5px;
  background-image: url("https://live.staticflickr.com/4048/4452639598_b5e4093f61_b.jpg");
  padding: 10px;
}

.grid-container > div {
  padding: 5px 0;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
}

.email {
  color: rgba(255,255,255,0.7);
  margin-top: -7px;
}

.item2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: justify;
  
}

.item3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.exp-header {
  text-transform: uppercase;
  border-top: 1px solid #909090;
  padding-top: 15px;
  margin-bottom: 25px;
  margin-top: 28px;
  color: rgba(255,255,255,0.5);
}

.lflist {
  margin-top: -13px;
  margin-bottom: 32px;
}

.poblist {
  margin-top: -13px;
  margin-bottom: 32px;
}

.falist {
  margin-top: -13px;
  margin-bottom: 32px;
}

.tpllist {
  margin-top: -13px;
  margin-bottom: 32px;
}

.lsilist {
  margin-top: -13px;
  margin-bottom: 32px;
}

.ailist {
  margin-top: -13px;
  margin-bottom: 32px;
}

.item4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end:4;
}

img {
  width: 200px;

}

.item5 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
}

.edu-header {
  text-transform: uppercase;
  border-top: 1px solid #909090;
  padding-top: 15px;
  margin-bottom: 25px;
  color: rgba(255,255,255,0.5);
}

.school {
  margin-top: -13px;
}
